[Unit]
Description=hide mouse cursor when typing
After=graphical.target

[Service]
ExecStart=/usr/local/bin/xbanish

[Install]
WantedBy=multi-user.target
