[user]
  name = Florian Hübner
  email = code@hub.lol
  signingKey = ~/.ssh/id_ed25519

[core]
  editor = micro
  autocrlf = input
  excludesfile = ~/.gitignores

[diff]
  submodule = log
  algorithm = histogram
  noprefix = true

[gpg]
  format = ssh

[color]
  ui = auto

[init]
  defaultBranch = main

[alias]
  adog = log --all --decorate --oneline --graph
  adg = log --all --decorate --graph

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[commit]
  gpgsign = true
  verbose = true
