[user]
  name = nothub
  email = 48992448+nothub@users.noreply.github.com
[core]
  editor = vim
  autocrlf = input
[diff]
  submodule = log
[color]
  ui = auto
[init]
  defaultBranch = master
[alias]
  adog = log --all --decorate --oneline --graph
  adg = log --all --decorate --graph
[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
