[user]
  name = Florian Hübner
  email = code@hub.lol

[core]
  editor = micro
  autocrlf = input

[diff]
  submodule = log

[color]
  ui = auto

[init]
  defaultBranch = main

[alias]
  adog = log --all --decorate --oneline --graph
  adg = log --all --decorate --graph

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[commit]
  verbose = true
