[Desktop Entry]
Name=XFCE4 Keybinds
Comment=Apply custom XFCE4 Keybinds
Exec=/home/hub/.local/bin/xfce4-keybinds.go
Type=Application
Categories=Other
Terminal=true
StartupNotify=false
Hidden=false
X-GNOME-Autostart-enabled=true
RunHook=0
