# /etc/containers/systemd/{{app-name}}.container
[Unit]
Description={{app-name}} container
RequiresMountsFor=/var/lib/{{app-name}}
After=network-online.target
Wants=network-online.target

[Container]
ContainerName={{app-name}}
Image={{image}}

Environment=USER_UID=1000
Environment=USER_GID=1000

# Application Configuration
Environment=FOO=a
Environment=BAR=b

Network={{app-name}}.network
PublishPort=8080:8080

Volume=/var/lib/{{app-name}}:/data
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
